:root {
  --primary-color: rgb(29, 154, 232);
  --primary-color-light: #20242f;
  --secondary-color1: #f49e09;
  --secondary-color: rgb(2, 165, 224);
  --extra-light: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: 'Lisu Bosa', serif;
}

nav {
  background-color: rgb(23, 65, 169); /* Adjusted alpha value to make the green color semi-transparent */
  border-bottom: 1px solid var(--extra-light);
}

.nav-bar {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-logo a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 1.5rem 5px;
  font-size: 500;
  color: var(--white);
  transition: 0.3s;
  text-decoration: none;
}

.link a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

/* Registration form css */
.top-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:1rem ;
}

form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;

}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4c61af;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: rgb(72, 216, 211);
}

@media (max-width: 768px) {
  form {
    width: 100%;
  }
}

.login-flex{
  display: flex;
  padding-top: 10px;
  align-items: center;
  flex-direction: column;
}
.login-output{
  padding:1rem;
  display: flex;
  justify-content: space-evenly;
}

.box-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
}

/* Infoboxes.css */

.infobox-container {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
}

.center-tag{
  text-align: center;
}

 .feedback-post{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.fetch-feedback{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  
} 

.questions-center{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}